<div class="container user index" id="content">
  <h2 class="section-header center-align">Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="field col s12 center-align">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    </div>

    <div class="row">
      <div class="actions col s12 center-align">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
