<% content_for :title, "Create New Quiz" %>
<%= form_for @quiz do |f| %>
  <div class="container quiz" id="content">
    <div class="row center quiz-list">
      <div id="language-select" class="light-blue-text col s12 m8 offset-m2 center-align">
        <h2 class="section-header">Quizzing yourself in
          <div class="input-field inline">
            <%= f.collection_select :language_id, @languages, :id, :name, {:include_blank=>'What?'}, {:class=>'materialize-select'} %>
          </div>
          <select id="width_tmp_select">
            <option id="width_tmp_option">What?</option>
          </select>
        </h2>
      </div>
    </div>
    <div class="row center quiz-list">
      <div class="col s12 m8 offset-m2">
        <ul class="collapsiblez" data-collapsible="accordion">
          <%
            start_category = true
            end_category = true
          %>
          <% @snippets.each_with_index do |snippet,index| %>
          <%= f.fields_for :quiz_snippets, snippet do |f| %>
            <% if snippet.category_id.nil? %>
              <li>
                <div class="collapsible-header">
                  <%= snippet.title %>
                  <div class="switch">
                    <label>
                      <input class="snippet-active-switch no-category" value="<%= snippet.id %>" <% if snippet.active == true %>checked<% end %> type="checkbox">
                      <span class="lever"></span>
                    </label>
                    <%= f.hidden_field :snippet_id, :value => snippet.id, :data => { :snippet => snippet.id } %>
                  </div>
                </div>
              </li>
            <% else %>
              <%
                category_id = snippet.category_id
                if user_signed_in?
                  category = current_user.categories.where(:id => category_id).first
                else
                  admin = User.where('admin = ?', true).first
                  category = admin.categories.where(:id => category_id).first
                end

                # If at the very end
                if @snippets.size == (1 + index)
                  # We should create a category end after this snippet
                  end_category = true
                else
                  # If the next snippet is not the same category as the curent one
                  if @snippets[index].category_id != @snippets[index + 1].category_id
                    # We should create a category end after this snippet
                    end_category = true
                  else
                    # We should not
                    end_category = false
                  end

                end
              %>
              <% if start_category %>
                <% start_category = false %>
                  <li id="category-<%= category.id %>">
                    <div class="collapsible-header expandable <% if category.snippets.blank? %>disabled<% end %>">
                      <div class="arrow-parent"><%= image_tag("dropdown-arrow.png", :class => "arrow") %></div>
                      <%= category.name %>
                      <div class="switch">
                        <label>
                          <input class="category-active-switch" value="<%= category.id %>"<% if category.snippets.blank? %>disabled<% end %><% if category.active %>checked<% end %> type="checkbox">
                          <span class="lever"></span>
                        </label>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <ul class="collapsiblez sub-menu" data-collapsible="accordion">
                  <% end %>
                      <li>
                        <div class="collapsible-header">
                          <%= snippet.title %>
                          <div class="switch">
                            <label>
                              <input class="snippet-active-switch has-category" data-category="<%= category.id %>" value="<%= snippet.id %>" <% if snippet.active %>checked<% end %> type="checkbox">
                              <span class="lever"></span>
                            </label>
                            <%= f.hidden_field :snippet_id, :value => snippet.id, :data => { :category => category.id, :snippet => snippet.id } %>
                          </div>
                        </div>
                      </li>
                  <% if end_category %>
                      </ul>
                    </div>
                  </li>
                  <%
                  # unless we are at the end
                  unless @snippets.size == (1 + index)
                    # If the next snippet is not the same category as the curent one
                    if @snippets[index].category_id != @snippets[index + 1].category_id
                      # We should create a category start after this snippet
                      start_category = true
                    else
                      # We should not
                      start_category = false
                    end
                  end
                  %>
              <% end %>
            <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row center">
      <div class="col s12 m8 offset-m2 buttons">
        <%= f.button 'Begin!', :id => 'new-quiz-submit-btn', :class => 'btn-large waves-effect waves-light blue'%>
        <% if user_signed_in? %>
          <%= link_to(raw("<i class='material-icons'>edit</i>"), quizzes_manage_path, :class => 'manage-button btn-floating btn-large waves-effect waves-light blue') %>
        <% end %>
      </div>
    </div>
    <br><br>
    <script>
      $(document).ready(function(){
        $('.category-active-switch:not(:checked)').each(function(){
            disableSnippets($(this));
        });

        //On submit remove non checked input fields
        $("form").submit(function() {
          $(".snippet-active-switch").each(function(){
            var active_input = $(this)[0];
            var snippet_id = $(this).val();
            if(!active_input.checked){
                active_input.remove();
                $("input[data-snippet="+snippet_id+"]").remove();
            }
          });
          //On submit remove non checked input fields
          $(".category-active-switch").each(function(){
            // for each snippet switch inside a disabled category
            if(!$(this).checked){
              var category_id = $(this).val();
              $(".input[data-category="+category_id+"]").each(function(){
                $(this)[0].remove();
              });
            }
            //$(this)[0].remove();
          });
        });

        $("input.snippet-active-switch").change(function(){
          <% if user_signed_in? %>
          $.ajax({
            url: '/snippets/'+this.value+'/update_active',
            type: 'POST',
            data: { active: this.checked },
            success: function(data,status,xhr){
              console.log(data);
              alert(data.message);
            },
            error: function(xhr,status,error){
              console.log(xhr);
              alert(error);
            }
          });
          <% end %>
        });

        $("input.category-active-switch").change(function(){

          disableSnippets($(this));
          //if (this.checked){
          <% if user_signed_in? %>
          $.ajax({
            url: '/categories/'+this.value+'/update_active',
            type: 'POST',
            data: { active: this.checked },
            success: function(data,status,xhr){
              console.log(data);
              //alert(data.message);
            },
            error: function(xhr,status,error){
              console.log(xhr);
              //alert(error);
            }
          });
          <% end %>
        });
      });
      function disableSnippets(checkBox){
        var category_id = checkBox.val();
        if (!checkBox.is(':checked')){
          $("#category-" + category_id + " .collapsible-body .collapsible-header").addClass("disabled");
          $("#category-" + category_id + " .collapsible-body .collapsible-header input").prop('disabled', true);
        }else{
          $("#category-" + category_id + " .collapsible-body .collapsible-header").removeClass("disabled");
          $("#category-" + category_id + " .collapsible-body .collapsible-header input").prop('disabled', false);
        }
      }
    </script>
  </div>
<% end %>
