<% content_for :title, "Answer Questions" %>
<div class="container quiz" id="content">
  <div class="row">
    <%= form_for @quiz do |f| %>
      <% @quiz.quiz_snippets.each_with_index do |quiz_snippet, index| %>
        <%= f.fields_for :quiz_snippets, quiz_snippet do |f| %>
          <div id="question-<%= index %>" class="question">
            <div class="light-blue-text col s12 m8 offset-m2 center-align">
              <h2 class="section-header"><%= quiz_snippet.title %></h2>
            </div>
            <div id="" class="quiz-editor-parent col s12 m10 offset-m1 l8 offset-l2">
              <%= f.text_area :attempt, :id => "editor-#{index}", :class => 'code-field' %>
              <div id="ace-editor-<%= index %>" class="editor" data-language="<%= @language.name %>"><%= quiz_snippet.attempt %></div>
              <script>
                $(document).ready(function() {
                  initializeEditor(ace.edit("ace-editor-<%= index %>"), <%= index %>, "<%= @language.name %>");
                });
              </script>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="question-navigation buttons col s12">
        <ul class="pagination">
          <li class="left-nav-arrow waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <% @quiz.quiz_snippets.each_with_index do |quiz_snippet, index| %>
            <li data-question="<%= index %>" class="nav-item waves-effect circle"><a href="#!"></a></li>
          <% end %>
          <li class="right-nav-arrow waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
        <a class="previous-item waves-effect waves-light blue btn">previous</a>
        <a class="next-item waves-effect waves-light blue btn">next</a>
        <%= f.button 'finish &rarr;'.html_safe, :class => 'finish-button waves-effect waves-light green btn'%>
      </div>
      <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <% end %>
  </div>
</div>
<!-- Modal Structure -->
<div id="save-modal" class="modal">
  <div class="modal-content">
    <h4>Good Show!</h4>
    <p>It is a sign of an experienced programmer to to save freqently... even if they attempt to do so in the browser on occasion.</p>
    <p>On a side note, if you make an account (100% free) you can add your own snippets of code to practice... and those can actually be saved.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got It!</a>
  </div>
</div>
