<%= form_for @snippet do |f| %>

  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@snippet.errors.count, "error") %> prohibited
        this snippet from being saved:
      </h2>
      <ul>
        <% @snippet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="section input-field col s5 m3 offset-s1 offset-m1 offset-l2">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row no-margin">
    <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <div id="snippet-editor-parent" class="snippet-editor-parent col s12 m10 offset-m1 l8 offset-l2">
      <div class="editor-header">
        <div class="languages">
          <% @languages.each_with_index do |language,index| %>
            <div class="language"><%= image_tag language.logo.url, :data => {:language => language.name } %></div>
          <% end %>
        </div>
      </div>
      <%= f.fields_for :implementations do |f| %>
        <%= f.text_area :code, :id => "editor-#{f.options[:child_index]}", :class => 'code-field' %>
        <div id="ace-editor-<%= f.options[:child_index] %>" class="editor" data-language="<%= @languages[f.options[:child_index]].name %>"><%= f.object.code %></div>
        <%= f.text_field :language, :class => 'language-field', :value => @languages[f.options[:child_index]].name, :data => {:language => @languages[f.options[:child_index]].name } %>
        <script>
            var aceEditor<%= f.options[:child_index] %> = ace.edit("ace-editor-<%= f.options[:child_index] %>");
            $("#editor-<%= f.options[:child_index] %>").text(aceEditor<%= f.options[:child_index] %>.getValue());
            aceEditor<%= f.options[:child_index] %>.getSession().on('change', function(e) {
              $("#editor-<%= f.options[:child_index] %>").text(aceEditor<%= f.options[:child_index] %>.getValue());
            });
            aceEditor<%= f.options[:child_index] %>.setTheme("ace/theme/dawn");
            //TODO: Get the right linter 
            aceEditor<%= f.options[:child_index] %>.getSession().setMode("ace/mode/javascript");
        </script>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 m3 offset-s1 offset-m1 offset-l2">
      <%= f.label :runtime_complexity %><br>
      <%= f.text_field :runtime_complexity %>
    </div>
    <div class="input-field col s4 m3 ">
      <%= f.label :space_complexity %><br>
      <%= f.text_field :space_complexity %>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1 offset-m1 offset-l2 ">
      <%= f.submit :class => 'btn-large waves-effect waves-light blue white-text btn btn-flat'%>
    </div>
  </div>
<% end %>
