<%= form_for @snippet do |f| %>

  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@snippet.errors.count, "error") %> prohibited
        this snippet from being saved:
      </h2>
      <ul>
        <% @snippet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="section input-field col s5 m3 offset-s1 offset-m1 offset-l2">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="section input-field col s5 m3 offset-s1 offset-m1 offset-l2">
      <%= collection_select(:snippet, :category_id, Category.accessible_by(current_ability), :id, :name,  {:include_blank=>'No Category'}, {:include_blank=>'Nothing selected', :class=>'materialize-select category-select'} ) %>
    </div>
  </div>
  <div class="row no-margin">
    <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <div id="snippet-editor-parent" class="snippet-editor-parent col s12 m10 offset-m1 l8 offset-l2">
      <div class="editor-header">
        <div class="languages">
          <% @languages.each_with_index do |language,index| %>
            <div id="language-tab-<%= index %>" class="language with-image" data-langid="<%= language.id %>">
              <div class="abr"><span><%= language.name[0..1] %></span></div>
              <%= image_tag language.logo.url, :onerror => 'imgError(this);', :data => {:language => language.name, :langid => language.id } %>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.fields_for :implementations do |f| %>
        <%= f.text_area :code, :id => "editor-#{f.options[:child_index]}", :class => 'code-field' %>.where(default_id: default_snippet.category_id).first.id
        <%
        if !@snippet.blank?
          implementation = Implementation.where(snippet_id: @snippet.id).where(language_id: @languages[f.options[:child_index]].id).first
          if !implementation.blank?
            implementation_code = implementation.code
          end
        end
        %>
        <div id="ace-editor-<%= f.options[:child_index] %>" class="editor" data-language="<%= @languages[f.options[:child_index]].name %>"><%= implementation_code %></div>

        <!--  TODO REMOVE lnagueage field, need data?-->
        <%= f.hidden_field :language_id, :value => @languages[f.options[:child_index]].id, :data => { :language => @languages[f.options[:child_index]].id } %>
        <script>
          $(document).ready(function() {
            initializeEditor(ace.edit("ace-editor-<%= f.options[:child_index] %>"), <%= f.options[:child_index] %>, "<%= @languages[f.options[:child_index]].name %>");
          });
        </script>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 m3 offset-s1 offset-m1 offset-l2">
      <%= f.label :runtime_complexity %><br>
      <%= f.text_field :runtime_complexity %>
    </div>
    <div class="input-field col s4 m3 ">
      <%= f.label :space_complexity %><br>
      <%= f.text_field :space_complexity %>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1 offset-m1 offset-l2 ">
      <%= f.button :class => 'btn-large waves-effect waves-light blue white-text btn btn-flat'%>
    </div>
  </div>
<% end %>
