<div class="container snippet index" id="content">
  <h2 class="section-header center-align">Snippets</h2>
  <table class="highlight responsive-table centered">
    <thead>
      <tr>
        <th>Title</th>
        <!-- TODO: Num Supported Languages -->
        <th>Runtime Complexity</th>
        <th>Space Complexity</th>
        <th># Implemented</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.title %></td>
        <td><%= snippet.runtime_complexity %></td>
        <td><%= snippet.space_complexity %></td>
        <td>
          <%= snippet.implementations.length %>
        <!-- <% for implementation in snippet.implementations %>
          <%= implementation.code %>
        <% end %> -->
        </td>
        <td class="min-width"><%= link_to 'Show', snippet_path(snippet) %></td>
        <td class="min-width"><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td class="min-width"><%= link_to 'Destroy', snippet_path(snippet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <div class="row center">
    <div class="col s12 buttons">
      <!-- TODO implement FAB -->
      <%= link_to 'New snippet', new_snippet_path, :class => 'btn-large waves-effect waves-light blue' %>
      <!-- <%= link_to(raw("<i class='material-icons'>loop</i>"), {controller: 'quiz', action: 'manage'}, :id => 'download-button', :class => 'sync-button btn-floating btn-large waves-effect waves-light blue') %> -->
      <a class="sync-button btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">loop</i></a>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col s12">
      <%= link_to '&larr; Done'.html_safe, quiz_index_path, :class => "manage-back-link" %>
    </div>
  </div>
  <!-- Modal Structure -->
  <div class="modal sync-modal">
    <div class="modal-header">
      <h3 class="section-header white-text">Sync Snippets</h3>
    </div>
    <div class="modal-content">
      <table>
        <% @snippets.each do |snippet| %>
          <% if snippet.default == true %>
            <tr>
              <td>
                <%= snippet.title %>
              </td>
              <td class="min-width">
                <a class="update-button waves-effect waves-light btn" data-value="<%= snippet.id %>">Update</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Got It!</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("a.update-button, a.reset-button").click(function(){
      //if (this.checked){
      $.ajax({
        url: '/snippets/'+$(this).data("value")+'/update_snippet',
        type: 'POST',
        success: function(data,status,xhr){
          console.log(data);
          alert(data.message);
        },
        error: function(xhr,status,error){
          console.log(xhr);
          alert(error);
        }
      });
    });
  });
</script>
