<% content_for :title, "Manage Snippets" %>
<div class="container snippet index" id="content">
  <h2 class="section-header center-align">Snippets</h2>
  <table id="snippets-index-table" class="highlight centered">
    <thead>
      <tr>
        <th>Title</th>
        <!-- TODO: Num Supported Languages -->
        <th>Runtime Complexity</th>
        <th>Space Complexity</th>
        <th># Implemented</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @snippets.each do |snippet| %>
      <tr data-id="<%= snippet.id %>">
        <td><%= snippet.title %></td>
        <td><%= snippet.runtime_complexity %></td>
        <td><%= snippet.space_complexity %></td>
        <td>
          <%= snippet.implementations.length %>
        </td>
        <td class="min-width"><%= link_to 'Show', snippet_path(snippet) %></td>
        <td class="min-width"><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td class="min-width"><%= link_to 'Destroy', snippet_path(snippet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <div class="row center">
    <div class="col s12 buttons">
      <%= link_to 'New snippet', new_snippet_path, :class => 'btn-large waves-effect waves-light blue' %>
      <a class="sync-button btn-floating btn-large waves-effect waves-light <%= @color %>"><i class="material-icons">loop</i></a>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col s12">
      <%= link_to '&larr; Back'.html_safe, {controller: 'quizzes', action: 'manage'}, :class => "manage-back-link"  %>
    </div>
  </div>
  <!-- Modal Structure -->
  <div class="modal sync-modal">
    <div class="modal-header">
      <h3 class="section-header white-text">Sync Default Snippets</h3>
    </div>
    <div class="modal-content">
      <table id="snippets-sync-table">
        <% @snippets.each do |snippet| %>
          <% if snippet.default == true %>
            <tr data-id="<%= snippet.id %>">
              <td class="snippet-name">
                <%= snippet.title %>
              </td>
              <td class="min-width">
                <% if snippet.update_available %>
                  <a class="update-button waves-effect waves-light btn" data-value="<%= snippet.id %>">Update</a>
                <% elsif snippet.modified %>
                  <a class="reset-button waves-effect waves-light btn" data-value="<%= snippet.id %>">Reset</a>
                <% else %>
                  <a class="default-button waves-effect waves-light btn btn-flat" data-value="">Default</a>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% @unowned_snippets.each do |snippet| %>
          <% if snippet.default == true %>
            <tr>
              <td class="snippet-name">
                <%= snippet.title %>
              </td>
              <td class="min-width">
                <a class="add-button waves-effect waves-light btn" data-value="<%= snippet.id %>">Add</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Done</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("a.update-button, a.reset-button").click(function(){
      button = $(this);
      $.ajax({
        url: '/snippets/'+$(this).data("value")+'/update_snippet',
        type: 'POST',
        success: function(data,status,xhr){
          console.log(data);
          updateSnippetsPage(button, "default", data);
        },
        error: function(xhr,status,error){
          console.log(xhr);
          alert(error);
        }
      });
    });

    $("a.add-button").click(function(){
      button = $(this);
      $.ajax({
        url: '/snippets/'+$(this).data("value")+'/add_snippet',
        type: 'POST',
        success: function(data,status,xhr){
          console.log(data);
          updateSnippetsPage(button, "default", data);
        },
        error: function(xhr,status,error){
          console.log(xhr);
          alert(error);
        }
      });
    });

    function updateSnippetsPage(button, action, record){
      if(button.hasClass("update-button") || button.hasClass("reset-button") ){
        $("#snippets-index-table tr[data-id=" + button.data("value") + "]").remove();
        $("#snippets-sync-table tr[data-id=" + button.data("value") + "] .snippet-name").text(record.title);
      }

      button.text(action);
      button.removeClass("update-button add-button reset-button default-button");
      button.addClass(action + "-button btn-flat");

      var tile = "<td>" + record.title + "</td>";
      var runtime_complexity = "<td>" + record.runtime_complexity + "</td>";
      var space_complexity = "<td>" + record.space_complexity + "</td>";
      var implemented = "<td>" + "</td>";
      var show = '<td class="min-width">' + '<a href="/snippets/' + record.id + '">Show</a>' + '</td>';
      var edit = '<td class="min-width">' + '<a href="/snippets/' + record.id + '/edit">Edit</a>' + '</td>';
      var destroy = '<td class="min-width"><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/snippets/' + record.id + '">Destroy</a></td>';
      $('#snippets-index-table tr:last').after('<tr ' +  'data-id="' + button.data("value") + '"> ' + tile + runtime_complexity + space_complexity + implemented + show + edit + destroy + ' </tr>');

      var sync_table_buttons = $('#snippets-sync-table .btn');
      if(!sync_table_buttons.hasClass("reset-button") && !sync_table_buttons.hasClass("update-button") && !sync_table_buttons.hasClass("add-button")){
        // If all the buttons are default, make the sync button grey
        $('.sync-button').removeClass("green blue");
        $('.sync-button').addClass("grey");
      }else if (sync_table_buttons.hasClass("reset-button") && !sync_table_buttons.hasClass("update-button") && !sync_table_buttons.hasClass("add-button")) {
        // If the only buttons left are reset buttons, make the sync button blue
        $('.sync-button').removeClass("grey green");
        $('.sync-button').addClass("blue");
      }

    }
  });

</script>
