<div class="container snippet" id="content">
  <h2 class="section-header center-align">Listing Snippet</h2>
  <table>
    <tr>
      <th>Title</th>
      <!-- <th>Code</th>
      <th>Language</th> -->
      <th>Runtime Complexity</th>
      <th>Space Complexity</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>

    <tr>
      <td><%= @snippet.title %></td>
      <!-- TODO: Show all related implementations -->
      <!-- fields_for @implementation do |fa|
        <td> fa.code </td>
        <td> fa.language </td>
        <td> fa.language </td>
      end  -->
      <td><%= @snippet.runtime_complexity %></td>
      <td><%= @snippet.space_complexity %></td>
      <td>
      <% for implementation in @snippet.implementations %>
        <%= implementation.code %>
      <% end %>
      </td>
      <td></td>
      <td><%= link_to 'Edit', edit_snippet_path(@snippet) %></td>
      <td><%= link_to 'Destroy', snippet_path(@snippet),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </table>
  <br>
  <%= link_to 'Back', snippets_path %>
</div>
