<% content_for :title, "View #{@snippet.title}" %>
<div class="container snippet" id="content">
  <div class="row no-margin">
    <div class="col s8 m6  offset-s1 offset-m1 offset-l2">
      <h2 class="section-header"><%= @snippet.title %><span class="snippet-category-label"><% unless @category.blank? %>- <%= @category.name %><% end %></span></h2>
    </div>
    <div class="col s2">
      <div class="options">
        <%= link_to 'Edit', edit_snippet_path(@snippet), class: "option" %>
        <%= link_to 'Destroy', snippet_path(@snippet),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "option" %>
      </div>
    </div>
  </div>
  <div class="row no-margin">
    <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <div id="snippet-editor-parent" class="snippet-editor-parent col s12 m10 offset-m1 l8 offset-l2">
      <div class="editor-header">
        <div class="languages">
          <% @languages.each_with_index do |language,index| %>
            <div id="language-tab-<%= index %>" class="language"><%= image_tag language.logo.url, :data => {:language => language.name } %></div>
          <% end %>
        </div>
      </div>
      <% @snippet.implementations.each_with_index do |implementation, index| %>
        <div id="ace-editor-<%= index %>" class="editor" data-language="<%= implementation.language %>"><%= implementation.code %></div>
        <script>
          $(document).ready(function() {
            initializeEditor(ace.edit("ace-editor-<%= index %>"), <%= index %>, "<%= implementation.language %>");
            ace.edit("ace-editor-<%= index %>").setReadOnly(true);
            ace.edit("ace-editor-<%= index %>").setHighlightActiveLine(false);
          });
        </script>
      <% end %>
    </div>
  </div>
  <div class="row data-fields">
    <div class="input-field col s4 m4 l4 offset-s2 offset-m2 offset-l3">
      <span class="data-label">Runtime Complexity</span><br>
      <span class="data-field"><%= @snippet.runtime_complexity %></span>
    </div>
    <div class="input-field col s4 m4 l4">
      <span class="data-label">Space Complexity</span><br>
      <span class="data-field"><%= @snippet.space_complexity %></span>
    </div>
    <div class="col s12 m10 offset-m1 l8 offset-l2 snippet-back-link">
      <%= link_to '&larr; Back'.html_safe, snippets_path %>
    </div>
  </div>
</div>
