<%= form_for(@language, :html => { :multipart => true }) do |f| %>

  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@language.errors.count, "error") %> prohibited
        this language from being saved:
      </h2>
      <ul>
        <% @language.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <% if @language.logo.exists? %>
      <%= image_tag @language.logo.url(:thumb) %>
    <% end %>
    <%= f.file_field :logo %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', languages_path %>
