<%= form_for(@language, :html => { :multipart => true }) do |f| %>

  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@language.errors.count, "error") %> prohibited
        this language from being saved:
      </h2>
      <ul>
        <% @language.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="section input-field col s5 m3 offset-s1 offset-m1 offset-l2">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="file-input section input-field col s10 offset-s1 offset-m1 offset-l2">
        <% if @language.logo.exists? %>
          <%= image_tag @language.logo.url(:thumb) %>
        <% end %>
        <label for="language_logo" class="custom-file-upload">Choose File</label>
        <img id="preview_logo" src="#" alt="your image" />
        <%= f.file_field :logo %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col s10 offset-s1 offset-m1 offset-l2">
      <%= f.submit :class => 'btn-large waves-effect waves-light blue white-text btn btn-flat'%>
    </div>
  </div>
<% end %>
