<div class="container language" id="content">
  <h2 class="section-header center-align">Languages</h2>

  <table class="highlight">
    <thead>
      <tr>
        <th data-field="name">Name</th>
        <th data-field="logo">Logo</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody class="languages">
      <% @languages.each do |language| %>
        <tr>
          <td><span class="name"><%= language.name %></span></td>
          <td><%= image_tag language.logo.url, :class => "logo" %></td>
          <!-- <td><%= link_to 'Show', language_path(language) %></td> -->
          <td class="min-width"><%= link_to 'Edit', edit_language_path(language) %></td>
          <td class="min-width"><%= link_to 'Destroy', language_path(language),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <div class="row center">
    <div class="col s12">
      <!-- TODO implement FAB -->
      <%= link_to 'New Language', new_language_path, :class => 'btn-large waves-effect waves-light blue' %>
    </div>
  </div>
</div>
