<div class="container quiz" id="content">
  <div class="row center quiz-list">
    <div id="language-select" class="light-blue-text col s12 m8 offset-m2 center-align">
      <h2 class="section-header">Quizing yourself in
        <div class="input-field inline">
          <select class="materialize-select">
            <%= render "quiz/quiz-list.html.erb" %>
          </select>
        </div>
        <select id="width_tmp_select">
          <option id="width_tmp_option"></option>
        </select>
      </h2>
    </div>
  </div>
  <div class="row center quiz-list">
    <div class="col s12 m8 offset-m2">
      <ul class="collapsiblez" data-collapsible="accordion">
        <% unless @singleSnippets.blank? %>
          <% @singleSnippets.each do |snippet| %>
          <li>
            <div class="collapsible-header">
              <%= snippet.title %>
              <div class="switch">
                <label>
                  <input class="snippet-active-switch" value="<%= snippet.id %>" <% if snippet.active == true %>checked<% end %> type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
        <% unless @categories.blank? %>
          <% @categories.each do |category| %>
          <li id="category-<%= category.id %>">
            <div class="collapsible-header expandable <% if category.snippets.blank? %>disabled<% end %>">
              <div class="arrow-parent"><%= image_tag("dropdown-arrow.png", :class => "arrow") %></div>
              <%= category.name %>
              <div class="switch">
                <label>
                  <input class="category-active-switch" value="<%= category.id %>"  <% if category.snippets.blank? %>disabled<% end %> <% if category.active == true %>checked<% end %> type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
            <% unless category.snippets.blank? %>
            <div class="collapsible-body">
              <ul class="collapsiblez sub-menu" data-collapsible="accordion">
                <li>
                  <% category.snippets.each do |snippet| %>
                  <div class="collapsible-header">
                    <%= snippet.title %>
                    <div class="switch">
                      <label>
                        <input class="snippet-active-switch" value="<%= snippet.id %>" <% if snippet.active == true %>checked<% end %> type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                  </div>
                  <% end %>
                </li>
              </ul>
            </div>
            <% end %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 m8 offset-m2 buttons">
      <%= link_to 'Begin!', {controller: 'quiz', action: 'question'}, :class => 'btn-large waves-effect waves-light blue'  %>
      <% if user_signed_in? %>
        <%= link_to(raw("<i class='material-icons'>edit</i>"), {controller: 'quiz', action: 'manage'}, :id => 'download-button', :class => 'manage-button btn-floating btn-large waves-effect waves-light blue') %>
      <% end %>
    </div>
  </div>
  <br><br>
  <script>
    $(document).ready(function(){
      $('.category-active-switch:not(:checked)').each(function(){
          disableSnippets($(this));
      });

      $("input.snippet-active-switch").change(function(){
        //if (this.checked){
        $.ajax({
          url: '/snippets/'+this.value+'/update_active',
          type: 'POST',
          data: { active: this.checked },
          success: function(data,status,xhr){
            console.log(data);
            alert(data.message);
          },
          error: function(xhr,status,error){
            console.log(xhr);
            alert(error);
          }
        });
      });

      $("input.category-active-switch").change(function(){

        disableSnippets($(this));
        //if (this.checked){
        $.ajax({
          url: '/categories/'+this.value+'/update_active',
          type: 'POST',
          data: { active: this.checked },
          success: function(data,status,xhr){
            console.log(data);
            //alert(data.message);
          },
          error: function(xhr,status,error){
            console.log(xhr);
            //alert(error);
          }
        });
      });
    });
    function disableSnippets(checkBox){
      var category_id = checkBox.val();
      if (!checkBox.is(':checked')){
        $("#category-" + category_id + " .collapsible-body .collapsible-header").addClass("disabled");
        $("#category-" + category_id + " .collapsible-body .collapsible-header input").prop('disabled', true);
      }else{
        $("#category-" + category_id + " .collapsible-body .collapsible-header").removeClass("disabled");
        $("#category-" + category_id + " .collapsible-body .collapsible-header input").prop('disabled', false);
      }
    }
  </script>
</div>
