<div class="container quiz" id="content">
  <div class="row center quiz-list">
    <div id="language-select" class="light-blue-text col s12 m8 offset-m2 center-align">
      <h2 class="section-header">Quizing yourself in
        <div class="input-field inline">
          <select class="materialize-select">
            <%= render "quiz/quiz-list.html.erb" %>
          </select>
        </div>
        <select id="width_tmp_select">
          <option id="width_tmp_option"></option>
        </select>
      </h2>
    </div>
  </div>
  <div class="row center quiz-list">
    <div class="col s12 m8 offset-m2">
      <ul class="collapsible" data-collapsible="accordion">
        <% @singleSnippets.each do |snippet| %>
        <li>
          <div class="collapsible-header">
            <%= snippet.title %>
            <%= snippet.active %>
            <div class="switch">
              <label>
                <input checked type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </li>
        <% end %>
        <li>
          <div class="collapsible-header">
            DIVIDER
            <div class="switch">
              <label>
                <input checked type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </li>
        <% @categories.each do |category| %>
        <li>
          <div class="collapsible-header expandable <% if category.snippets.blank? %>disabled<% end %>">
            <div class="arrow-parent"><%= image_tag("dropdown-arrow.png", :class => "arrow") %></div>
            <%= category.name %>
            <%= category.active %>
            <div class="switch">
              <label>
                <input <% if category.snippets.blank? %>disabled<% end %> <% if category.active = true %>checked<% end %> type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
          <% unless category.snippets.blank? %>
          <div class="collapsible-body">
            <ul class="collapsible sub-menu" data-collapsible="accordion">
              <li>
                <% category.snippets.each do |snippet| %>
                <div class="collapsible-header">
                  <%= snippet.title %>
                  <div class="switch">
                    <label>
                      <input <% if category.active = true %>checked<% end %> type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>
        </li>
        <% end %>
        <!--<li>
          <div class="collapsible-header">Web Development</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>-->
      </ul>
    </div>
  </div>
  <div class="row center">
    <%= link_to 'Begin!', {controller: 'quiz', action: 'question'}, :id => 'download-button', :class => 'btn-large waves-effect waves-light blue'  %>
  </div>
  <br><br>
</div>
