<% content_for :title, "Change Password" %>
<div class="container user index" id="content">
  <h2 class="section-header center-align">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row">
      <div class="field input-field col s12">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>
    </div>

    <div class="row">
      <div class="field input-field col s12">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="row">
      <div class="actions col s12 center-align">
        <%= f.submit "Change my password" %>
      </div>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
