<div class="container category" id="content">
  <h2 class="section-header center-align">Categories</h2>
  <!-- Modal Structure -->
  <% if !flash.empty? %>
  <!-- <div class="modal error-modal">
    <div class="modal-content">
      <h4>Aw, shucks!</h4>
      <div id="error_explanation">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got It!</a>
    </div>
  </div> -->
  <% end %>

  <table class="highlight">
    <thead>
      <tr>
        <th>Category Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td class="min-width"><%= link_to 'Destroy', category_path(category),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <div class="row center">
    <div class="col s12">
      <!-- TODO implement FAB -->
      <%= link_to 'New Category', new_category_path, :class => 'btn-large waves-effect waves-light blue' %>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col s12">
      <!-- <%= link_to '&larr; Done'.html_safe, quiz_index_path, :class => "manage-back-link" %> -->
      <!-- <%= link_to '&larr; Back'.html_safe, :back %> -->
      <%= link_to '&larr; Back'.html_safe, {controller: 'quizzes', action: 'manage'}, :class => "manage-back-link"  %>
    </div>
  </div>
</div>
