<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title><%= content_for?(:title) ? content_for(:title) : "Hello Around the World!" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'materialize' %>
    <%= favicon_link_tag "logo/logo-blue-16.png" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS  -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- TODO: Evaluate, may already have -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <ul id="logo-container" class="left">
          <li>
            <%= link_to image_tag("logo/logo-white-64.png"), root_path, :id => 'logo-image', :class => 'brand-logo' %>
          </li>
          <li>
            <%= link_to "Hello Around the World!", root_path, :id => 'logo-text', :class => 'brand-logo' %>
          </li>
        </ul>
        <% if user_signed_in? %>
        <ul class="right hide-on-med-and-down">
          <!-- <li><%= link_to "Study", study_index_path %></li> -->
          <li><%= link_to "Quiz", quizzes_new_path %></li>
          <li>
            <a class='dropdown-button' href='#' data-activates='user-dropdown'><strong><%= current_user.email %></strong></a>
            <ul id='user-dropdown' class='dropdown-content'>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, :class => 'dropdown-item' %></li>
              <li class="divider"></li>
              <li><%= link_to 'Manage Snippets', snippets_path, :class => 'dropdown-item'  %></li>
              <li><%= link_to 'Manage Categories', categories_path, :class => 'dropdown-item'  %></li>
              <li><%= link_to 'Manage Languages', languages_path, :class => 'dropdown-item'  %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link dropdown-item'  %></li>
            </ul>
          </li>
        </ul>
        <% else %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Quiz", quizzes_new_path %></li>
          <!--<li><%= link_to "Study", study_index_path %></li> -->
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        </ul>
        <% end %>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <main class="section no-pad-bot main-section" id="index-banner">
      <% if !@errors.nil? && @errors.messages.any?%>
      <!-- Modal Structure -->
      <div class="modal error-modal">
        <div class="modal-header">
          <h3 class="section-header white-text">Aw, shucks!</h3>
        </div>
        <div class="modal-content">
          <b>
          <%= pluralize(@errors.count, "error") %> prohibited
          this snippet from being saved.
          </b>
          <div id="error_explanation">
            <% @errors.messages.each do |attribute, msg| %>
              <% msg.each do |val| %>
                <p class="alert alert-danger"><%= attribute.to_s.camelize %>: <%= val %></p>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Got It!</a>
        </div>
      </div>
      <% end %>
      <!-- Begin Content -->
      <%= yield %>
    </main>
    <footer class="page-footer blue lighten-1">
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="blue-text text-lighten-3" href="https://github.com/Zarkana">Joseph Campbell</a>
        <a class="blue-text text-lighten-3 right" href="https://github.com/Zarkana/hello-around-the-world">What is, Hello Around The World?</a>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <!-- <script src="materialize-src/js/materialize.js"></script>
    <script src="materialize-src/js/init.js"></script>
    <script src="scripts/main.js"></script> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'materialize' %>
    <%= javascript_include_tag 'init' %>
    <%= javascript_include_tag 'main' %> -->

  </body>
</html>
